{
  "token": "insert-bot-token-here",
  "prefix": "s-",
  "admin_ids": [
      <id_1>,
      <id_2>
  ],
  "email": {
    "user": "sparkybot1234@gmail.com",
    "pass": "insert-password-here"
  }
}